body,
ul,
li,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

/* variables */
:root {
  --primary: #ffffff;
  --secondary: #e7e5e3;
}
/* fonts */
@font-face {
  font-family: 'open-sans';
  src: url(/assets/fonts/OpenSans-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: #121213;
  font-size: 16px;
  font-family: open-sans;
}
body::-webkit-scrollbar {
  display: none;
}
/*  base styles */

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
}
header {
  position: sticky;
  top: 0;
  height: 100%;
}
header img {
  width: 15%;
  margin: 10px;
  box-shadow: 2px;
  border-radius: 10px;
}
.nav-list a {
  color: #ffffff;
  display: inline-block;
  width: 100%;
}

.main-nav {
  /* box-sizing: border-box; */

  position: fixed;
  left: -50%;
  top: 0;
  height: 100%;
  width: 50%;
  background-color: #252424;

  transition: left 0.17s ease-in;
}

.main-nav.active {
  transition: left 0.14s ease-in;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /* imp property to not scroll the body or behind, when the sidebar scroll reaches end  */
  overscroll-behavior: contain;
  opacity: 1;
}
/* imp property to not display scrollbar */
.main-nav.active::-webkit-scrollbar {
  display: none;
}

.main-nav li a {
  display: flex;
  padding-left: 10px;
  align-items: center;
  text-align: center;
  justify-items: center;
  /* padding: 15px 0; */
  height: 50px;

  /* margin: 10px 0; */
  /* line-height: 10px; */
}

.toggle-button {
  top: 5px;
  /* translate: rotateZ(0); */
  /*transition: transform 0.4s ease-in-out; */
}
.toggle-button:hover {
  /* transform: rotateZ(90deg);
  transition: transform 2s ease-in-out; */
  cursor: pointer;
}
.main-nav li:hover {
  background: #2d2d2d;
}
/* header.active {
  background-color: #1e1d1c;
}
.main-nav.active li {
  background-color: #1e1d1c;
  padding: 20px 0;
  height: 20px;
  text-align: center;
} */

/* .nav-list li:hover {
  background-color: #4e5052;
} */

.welcome {
  margin: 30px 15px;
}
.welcome h1 {
  font-size: 2em;
  margin: 0 auto;
  line-height: 1.5em;
  color: var(--primary);
}
.welcome-text {
  grid-column: 1/5;
  /* background-color: red; */
}
.welcome-img {
  grid-column: 5/9;
}

#projects,
#contact,
#skills {
  margin: 30px 10px;
  border-radius: 5px;
  background: #16181b;
}
#projects h3,
#contact h3,
#skills h3 {
  padding: 20px 0;
  margin: 10px 0;
  text-align: center;
  color: var(--secondary);
  /* background: #6d6a5e; */
  background: #162330;
}
#projects li {
  grid-column: 1/9;
  /* grid-column: 2/8; */
  padding: 10px 0;
}
#projects li a {
  display: flex;
  color: var(--primary);
}
#projects li img {
  background-size: cover;
  width: 20%;
  height: 70%;
  padding: 10px 30px;
}
#projects h4 {
  padding-top: 20px;
}

#projects li:hover {
  background: #262625;
}
#skills li {
  grid-column: span 4;
  grid-gap: 10px;
  color: var(--primary);
  padding: 20px 10px;
  text-align: center;
  background: #252525;
}

.grid.socials {
  justify-self: center;
  align-items: center;
  padding: 5px 0;
}

.linkedin {
  grid-column: 2/4;
}
.linkedin img {
  width: 60%;
  height: 60%;
  background: #ffff;
  border-radius: 50px;
}
.linkedin img:hover {
  background-color: #5090e3;

  transition: background-color 0.2s, opacity 0.2s ease-in;
}
.github-icon {
  grid-column: 4/6;
}
.github-icon img {
  width: 90%;
  height: 70%;
}
.github-icon img:hover {
  transition: opacity 0.2s ease-in;
}

.gmail-icon {
  grid-column: 6/8;
  margin: 0 auto;
  text-align: center;
}
.gmail-icon img {
  width: 50%;
  height: 50%;
}
.gmail-icon img:hover {
  transition: opacity 0.2s ease-in;
}
